footer {
            background: linear-gradient(90deg, #4fc49fcd, #eb9124d8);
            color: white;
            padding: 1.5rem 20px;
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            flex-wrap: wrap;
            position: fixed;
            left: 0;
            bottom: 0;
        }

        .footer-section {
            margin: 0.5rem 0;
            max-width: 40%;
        }

        .footer-section h3 {
            margin-bottom: 0.5rem;
            font-size: 1.2rem;
        }

        .footer-section p {
            margin: 0 0 0.5rem;
            font-size: 0.9rem;
        }

        .read-more {
            background: #0000004d;
            color: #ffffff;
            border: 1px solid #066344;
            padding: 0.5rem 1rem;
            border-radius: 0px;
            text-decoration: none;
            font-weight: 600;
            display: inline-block;
            transition: background-color 0.3s ease, transform 0.3s ease;
        }

        .read-more:hover {
            background-color: #4fc49fcd;
            transform: scale(1.05);
            color: #fff;
        }

        .social-links {
            display: flex;
            gap: 15px;
            margin-top: 0.5rem;
        }

        .social-links a {
            color: white;
            font-size: 1.5rem;
            transition: transform 0.3s ease;
        }

        .social-links a:hover {
            transform: scale(1.2);
        }

        .social-links img {
            width: 30px;
            height: 30px;
            transition: transform 0.3s ease;
        }

        .social-links img:hover {
            transform: scale(1.2);
        }